/* main styling */
body {
    background-color: #082C49;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 50px;
    color: cornflowerblue;
}

#qanda{
    opacity: 1;
}
/*flex styling*/


.question_container{
    display: flex;
    margin: auto;
    flex-direction: column;
    border: solid cornflowerblue;
    border-width: 5px;
    margin-bottom: 50px;
    width: 500px;
    height: 150px;
    justify-content: center;
    align-items: center;
    color: cornflowerblue
}
/* QUESTION- THIS SEEMS LIKE A GOOD CANDIDATE FOR FLEX-BOX...WHY DOESN'T IT WORK AS ONE WOULD EXPECT? .answers_container only formats the outer border & li inner text font.*/
 /* .answers_container{
    display: flex;
    flex-direction: column;
    border: solid cornflowerblue;
    border-width: 5px;
    margin-bottom: 25px;
    margin: auto;
    width: 500px; 
    height: 400px;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    color: cornflowerblue;
}  */


/* QUESTION- WHY DON'T BORDERS COLLAPSE? */
li {
    display: flex;
    flex-direction: column;
    border: solid cornflowerblue;
    border-collapse: collapse;
    border-width: 5px;
    height: 100px;
    width: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: cornflowerblue
}
/* #nextQuestion {
    margin: auto;
    visibility: hidden;
}*/
ul {
    padding: 0;
}
#progress {
    color: cornflowerblue;
    margin: 0 auto;
    text-align: center;
}
.modal{
    position: absolute; 
    top: 35%;
    background-color: #082C49;
    width: 35%;
    color: coral;
    text-align: center;
    z-index: 2;
    display: none;
    margin: 0 auto;
    border-style: dashed;
    border-color: cornflowerblue;
}
#playAgain{
    display: none;
    margin: 0 auto;
}
.disabled{
    pointer-events: none;
}